.card {
    margin: 20px;
}
.card-img {
    border-radius: 25px;
    padding: 10px;
  }

#title {

    text-align: left;
    margin: 20px 10px 10px 37px;
    color: white;
  
}

hr {
  width: 300px;
  float: left;
  margin: 0px 10px 10px 37px;
  height: 5px;
  background-color:rgb(255, 255, 255);
}
