.jumbotron {

    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
    color: white;
    text-shadow: 2px 2px 5px black;
    text-decoration: solid;
    height: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
    
  
  }

  .card {
    background-color: transparent;

}

