.jumbotron {
    background-image: url("https://static01.nyt.com/images/2018/03/27/opinion/27horowitz2/27horowitz2-superJumbo-v2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
    color: white;
    text-shadow: 2px 2px 5px black;
    text-decoration: solid;
    height: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
  
  }

  .card {
    background-color: transparent;

}

